<h1><span style="text-align: center;">Pandas Lesson, Session - 6</span><h1>

In [9]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#%matplotlib inline

# recap for Apply - Transform - Map

In [10]:
np.random.seed(42)
df3 = pd.DataFrame(  np.random.randn(5,4), 
                   index = ['A', 'B', 'C', 'D', 'E'], 
                   columns = 'W X Y Z'.split()          )
df3

          W         X         Y         Z
A  0.496714 -0.138264  0.647689  1.523030
B -0.234153 -0.234137  1.579213  0.767435
C -0.469474  0.542560 -0.463418 -0.465730
D  0.241962 -1.913280 -1.724918 -0.562288
E -1.012831  0.314247 -0.908024 -1.412304

In [11]:
df6 = pd.DataFrame({'groups': ['A', 'B', 'C', 'A', 'B', 'C','A', 'B', 'C'],
                   'var1': [10,23,33,22,11,99,40,20,15],
                   'var2': [100,253,333,262,111,969, 232,343,123]})
df6

  groups  var1  var2
0      A    10   100
1      B    23   253
2      C    33   333
3      A    22   262
4      B    11   111
5      C    99   969
6      A    40   232
7      B    20   343
8      C    15   123

In [4]:
#df6[["var1","var2"]].transform(  )  # make minmaxscaler

In [5]:
# df6[["var1","var2"]].apply(  )  # make minmaxscaler

In [6]:
# f6.groupby('groups')[["var1","var2"]].transform(np.mean)

In [7]:
# df6.groupby('groups')[["var1","var2"]].apply(np.mean)

In [12]:
df6["var1"].transform([np.sum])  #çalışmadı agg ile transform çalışmaz

ValueError: Function did not transform

In [8]:
# df6["groups"].map({"A":"adam","B":"bruce","C":"cobweb"}) # use replace

In [9]:
# df6["groups"].replace({"A":"adam","B":"bruce","C":"cobweb"})

# pivot table